<html>
    <head>
            <title> Add Expense</title>
    </head>
    <body>
        <form action="/addexpense" method="POST">
        
        <label for="expense_name"> Enter expense name</label>
        <input type="text" name="expense_name" id="expense_name"> <br> 
        
        <label for="expense_amount"> Enter expense amount</label>
        <input type="number" name="expense_amount" id="expense_amount"> <br>

        <label for="expense_date"> Enter expense date</label>
        <input type="date" name="expense_date" id="expense_date"> <br>

        <label for="expense_category"> Enter expense category</label>
        <input type="text" name="expense_category" id="expense_category"> <br>

        <label for="expense_notes"> Enter expense notes</label>
        <input type="text" name="expense_notes" id="expense_notes"> <br>

        <input type="submit" value="Submit">
        
        </form>
    </body>

</html>