<html>
    <head> 
        <title> View Expenses </title> 

    </head>

    <body> 

        <form action="/searchexpense" method="GET">
                        <input type="text" name="category">
                        <button type="submit"> Search </button>     
        </form>

        <table> 
            <tr>
        
                <th> Name </th>
                <th> Amount </th>
                <th> Date </th>
                <th> Category </th>
                <th> Notes </th>

            </tr>
        {% for expenses in expenses%}
            <tr> 
                <td> {{expenses[1]}} </td> 
                <td> {{expenses[2]}} </td>
                <td> {{expenses[3]}} </td>
                <td> {{expenses[4]}} </td>
                <td> {{expenses[5]}} </td>
                <td> 
                    <form action="/deleteexpense" method="POST">
                        <input type="hidden" name="id" value="{{expenses[0]}}">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this expense?')"> Delete </button>          
                    </form>

                    <form action="/editexpense" method="POST">
                        <input type="hidden" name="id" value="{{expenses[0]}}">
                        <button type="submit"> Edit</button>     
                    </form>

                </td>
            
            </tr>
        {% endfor %}

            

        </table>

        <p> My total this month:{{total1}} </p>

        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        <canvas id="barChart" style="width:100%;max-width:700px"></canvas>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>        
        <script>

         
            var labels= [{% for row in graph_results%} "{{row[0]}}", {% endfor %}];
            var data = [{% for row in graph_results%} {{row[1]}}, {% endfor %}];

            
       
        new Chart("myChart", {
            type: "pie",
            data: {
                labels: labels,
                datasets: 
                [{
                    data: data, backgroundColor: ["#9B8816", "#F98948", "#5D3A00", "#684E32", "#F9EA9A", "#e77431", "#503431", "#55a393", "#4b6c57"]
                }]
            },
            options: {
                title: {
                display: true,
                text: "Expense Distribution"
                }
            }
            });
       

            

        
        var blabels= [{%for row in bar_results%} "{{row[0]}}" , {% endfor %}];     
        var bdata = [{%for row in bar_results%} {{row[1]}} , {% endfor %}];    

        new Chart("barChart", {
            type: "bar",
            data: {
                labels: blabels,
                datasets: 
                [{
                    data: bdata, backgroundColor: ["#9B8816", "#F98948", "#5D3A00", "#684E32", "#F9EA9A", "#e77431", "#503431", "#55a393", "#4b6c57"]
                }]
            },
            options: {
                title: {
                display: true,
                text: "Expense Distribution by Month"
                }
            }
            });


        </script>
    </body>
</html>